body {
  font-family: "Bangers", cursive;
  margin: 0;
}
header {
  color: #ffffff;
  background-color: #c60506;
  font-weight: bold;
  padding: 0 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
}
@media screen and (min-width: 376px) {
    header {
        font-size: 24px;
    }
}
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:radial-gradient(circle, lightcoral, tomato);
  height: calc(100vh - 100px);
}
.main-container {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 70px;
    max-width: 100%;
}
.video-container {
    position: relative;
}

video {
    max-width: 100%;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

.box {
  background: #fff;
  border: solid black;
  border-color: black;
}
.top-left {
  letter-spacing: normal;
}

.content-box {
  border-width: 3px 3px 5px 5px;
}

.card {
  border: solid black !important;
  border-color: black !important;
  border-width: 3px 4px 3px 5px !important;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95% !important;
}

.sheet {
  border: solid black !important;
  border-color: black !important;
  border-width: 3px 4px 5px 5px !important;
  border-radius: 95% 2% 162% 3%/9% 96% 2% 99% !important;
}

.mask-select {
    margin-top: 40px;
    width: 270px;
    padding: 4px 8px;
    line-height: 32px;
    font-size: 21px;
    font-family:'Comic Sans MS', cursive;
}
